* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: Arial, Helvetica, sans-serif;
}



.top-bar {
  background: #000;
  color: #fff;
  text-align: center;
  padding: 8px;
  font-size: 14px;
}


.navbar {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 15px 40px;
  position: relative;
}

.logo {
  font-weight: bold;
  font-size: 22px;
}

.nav-links {
  display: flex;
  gap: 25px;
}

.nav-links a {
  text-decoration: none;
  color: #000;
  font-size: 14px;
}

.nav-icons {
  display: flex;
  align-items: center;
  gap: 15px;
}

.menu-toggle {
  display: none;
  font-size: 26px;
  cursor: pointer;
}


.hero {
  position: relative;
  min-height: 90vh;
  display: flex;
  align-items: center;
  padding: 0 40px;
  overflow: hidden;
}


.hero-bg {
  position: absolute;
  inset: 0;
  background-image: url("Rectangle 2.png");
  background-size: cover;      
  background-position: center;  
  background-repeat: no-repeat;
  z-index: 1;
}

.hero-content {
  position: relative;
  z-index: 2;
  max-width: 600px;
  color: black;
}

.hero-content h1 {
  font-size: 52px;
  line-height: 1.1;
}

.hero-content p {
  margin: 20px 0;
  color: #222;
}

.hero-content button {
  padding: 12px 30px;
  background: black;
  color: white;
  border: none;
  border-radius: 25px;
  cursor: pointer;
  font-weight: bold;
}

.stats {
  display: flex;
  gap: 30px;
  margin-top: 40px;
}

.brands {
  background: black;
  color: white;
  display: flex;
  justify-content: space-around;
  padding: 20px;
  font-weight: bold;
  flex-wrap: wrap;
}

@media (max-width: 768px) {

  .nav-links {
    display: none;
    flex-direction: column;
    position: absolute;
    top: 70px;
    right: 20px;
    background: white;
    padding: 15px;
    box-shadow: 0 0 10px rgba(0,0,0,0.1);
  }

  .nav-links.active {
    display: flex;
  }

  .menu-toggle {
    display: block;
  }

  .hero {
    padding: 60px 20px;
    min-height: 70vh;
  }

  .hero-content {
    text-align: center;
    margin: auto;
  }

  .hero-content h1 {
    font-size: 30px;
  }

  .stats {
    flex-direction: column;
    gap: 15px;
    align-items: center;
  }

  
  .hero-bg {
    background-position: top center;
  }
}
